In [2]:
import pandas as pd

url =  "http://fmwww.bc.edu/ec-p/data/wooldridge/ceosal1.dta"
df = pd.read_stata(url)

In [3]:
df.head()

,salary,pcsalary,sales,roe,pcroe,ros,indus,finance,consprod,utility,lsalary,lsales
0,1095,20,27595.000000,14.1,106.400002,191,1,0,0,0,6.998509,10.225389
1,1001,32,9958.000000,10.9,-30.600000,13,1,0,0,0,6.908755,9.206132
2,1122,9,6125.899902,23.5,-16.299999,14,1,0,0,0,7.022868,8.720281
3,578,-9,16246.000000,5.9,-25.700001,-21,1,0,0,0,6.359574,9.695602
4,1368,7,21783.199219,13.8,-3.000000,56,1,0,0,0,7.221105,9.988894

In [4]:
X = df['roe']
y = df['salary']

In [5]:
def thetas(X,y):
    '''Function accepts two series X and y as inputs to perform regression to find the estimators, prediction and 
    R squared scores of the regression
    Function returns an array with the coeeficient of regression in the zeroth index, prediction in first and R-squared in third
    index
    '''
    import numpy as np
    X = np.array(X)
    X = np.c_[np.ones(X.shape[0]),X]
    y = np.array(y)
    
    Xt = np.transpose(X)
    
    t1 = np.linalg.inv(np.dot(Xt,X))
    
    t2 = np.dot(Xt,y)
    
    z = np.dot(t1,t2)
    prediction = np.array(z[1]*X[:,1] +z[0])
    
    mu = np.mean(y)
    var1 = np.array((y-mu)**2)
    var2 = np.array((prediction -y)**2)
    
    R2   = 1- (np.sum(var2)/np.sum(var1))
    
    
    return z,prediction,R2

In [6]:
q = thetas(X,y)
print(q[0],'\n',q[2])

[963.19133647  18.50118635]
 0.013188624081034162